.advantage {
    max-width: 1120px;
    margin: 0 auto;
    padding: 0 25px;
}

.advantage_title {
    margin-bottom: 38px;
}

.advantage_item_title {
    text-transform: uppercase;
}

.advantage_items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.advantage_item {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 31%;
    text-align: center;
    border: 3px solid #D4D4D4;
    border-radius: 20px;
    box-shadow: 5px 3px 20px #D9EAFC;
}

.advantage_item:hover {
    border: 3px solid #FF5C00;
}

.advantage_item_info {
    margin: 40px 48px 95px 40px;
}

.advantage_item_title {
    font-family: "Montserrat_Bold";
    font-size: 18px;
    margin-bottom: 15px;
}

.advantage_item_number {
    position: absolute;
    font-family: "Montserrat_Bold";
    color: #fff;
    width: 115px;
    height: 55px;
    padding-top: 20px;
    border-radius: 50% 50% 0 0 / 100% 100% 0 0;
    box-shadow: 0px -1px 5px rgba($color: #000, $alpha: 0.5);
    bottom: -3px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 28px;
    background: linear-gradient(90deg, rgba(255, 92, 0, 1), rgba(248, 50, 61, 1));
}