@font-face {
    font-family: Montserrat_Bold;
    src: url(../fonts/Montserrat-Bold.ttf);
}

@font-face {
    font-family: Montserrat_Regular;
    src: url(../fonts/Montserrat-Regular.ttf);
}

@font-face {
    font-family: ProximaNova_Bold;
    src: url(../fonts/ProximaNova-Bold.ttf);
}